# --- OS & Editor Configs ---
.DS_Store
.vscode/
.history/
*.swp
*.bak
*~

# --- Virtual Environments (Python/Scripts) ---
venv/
env/
.venv/
.env/

# --- Output Files ---
*.pdf

# --- Project Specific directories ---
